nav{
  display: flex;
  justify-content: space-evenly;
  background: black;
  align-items: center;
  color: white;
}
nav p{
  text-transform: capitalize;
  
}
nav a{
  text-decoration: none;
  color: white
}
nav a:hover{
  text-decoration: none;
}